.image-15 {
  width: 100%;
  position: relative;
  height: 41px;
  background-image: url(./public/image-15@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
