.image-14 {
  width: 100%;
  position: relative;
  height: 51px;
  background-image: url(./public/image-14@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
