.image-13 {
  width: 100%;
  position: relative;
  height: 60px;
  background-image: url(./public/image-13@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
