.line-div4 {
  width: 100%;
  position: relative;
  border-top: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 2px;
  transform: rotate(0.06deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
